<div class="container" style="width: 100vw;">
  <div class="row">
    <div class="col-md-12">
      <div class="tm-select-examination-sec">
        <div class="tm-study-meterials-content-panel-top-title">
          <h2>Select Examination</h2>
        </div>
        <div class="tm-select-examination-panel-main">
          <div class="container-fluid p-0">
            <cdk-virtual-scroll-viewport
              itemSize="10"
              style="height: 300px; width: 100%"
            >
              <!-- ✅ REAL DOM ELEMENT (not ng-container) -->
              <div
                *cdkVirtualFor="let course of courses; let i = index"
                class="virtual-row"
              >
                <div class="tm-select-examination-panel">
                  <div class="tm-select-examination-panel-left">
                    <div class="tm-select-examination-panel-left-no">
                      <span>{{ i + 1 | number : "2.0-0" }}</span>
                    </div>

                    <div class="tm-select-examination-panel-left-content">
                      <div
                        class="tm-select-examination-panel-left-content-title"
                      >
                        <h4>Exam {{ i + 1 }}: {{course?.name}}.</h4>
                      </div>

                      <div
                        class="tm-select-examination-panel-left-content-list"
                      >
                        <ul>
                          <li>Questions: <span>{{course?.total_question}}</span></li>
                          <li>Time: <span>{{course?.duration}} mins</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="tm-select-examination-panel-right">
                    <a
                      [routerLink]="['/exam/instruction', course?.slug]"
                      class="tm-btn-main"
                    >
                      Start Exam
                    </a>
                  </div>
                </div>
              </div>
            </cdk-virtual-scroll-viewport>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
