  <header class="tm-header">
      <div class="tm-header-top">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
                <div class="tm-header-logo">
                  <a [routerLink]="'/'"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="tm-login-sec">
      <div class="tm-login-sec-img">
        <img src="assets/img/login-img.jpg" class="img-fluid">
      </div>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 offset-md-6">
            <div class="tm-login-sec-form-main">
              <div class="tm-login-sec-form-title">
                <h2>To view your result please fill out the form</h2>
              </div>
              <div class="tm-login-sec-form">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Your Name</label>
                  <input type="text" class="form-control" id="exampleFormControlInput1">
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleFormControlInput2">
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Phone Number</label>
                  <input type="tel" class="form-control" id="exampleFormControlInput3">
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Set Password for future login</label>
                  <input type="password" class="form-control" id="exampleFormControlInput3">
                </div>
                <div  class="text-center">
                  <button type="submit" class="tm-btn btn btn-primary">Submit & view results</button>
                  <p class="mt-3">
                    Already have an account?
                    <a [routerLink]="'/login'" class="text-danger">Login</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
