
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*font-family: "Poppins", sans-serif;*/
body {
    color: #2D2D2D;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.container {
    max-width: 1370px;
}
a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    color: #2C284E;
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 82.5px */
}

h2 {
    color: #2C284E;
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
h2 span{
    color: #DD1C3A;
}
h3 {
    color: #2C284E;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}

h4 {
    color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}

h5 {
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

/*h6 {
    font-size: 13px
}*/
p{
    font-size: 18px;
    line-height: 24px;
}
a{
    font-size: 16px;
    line-height: 22px;
}
*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

button:focus {
    outline: none;
}
ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
 :focus {
    outline: 0;
}
.form-select:focus {
  box-shadow: none;
  border-color: #999999;
}
.form-control:focus {
  box-shadow: none;
  border-color: #999999;
}
.tm-custom-padding{
    padding: 90px 0;
}
.tm-btn-main {
  background-color: #DD1C3A;
  color: #fff;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 15px 20px;
  line-height: 1;
  font-size: 18px;
  border: 1px solid #DD1C3A;
  transition: all ease-in-out .3s;
  display: inline-block;
  text-align: center;
}
.tm-btn-main:hover{
    background-color:transparent;
    color: #DD1C3A;
}
.tm-btn {
  background-color: #2C284E;
  color: #fff;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 15px 20px;
  line-height: 1;
  font-size: 18px;
  border: 1px solid #2C284E;
  transition: all ease-in-out .3s;
  display: inline-block;
  text-align: center;
}
.tm-btn:hover{
    background-color:transparent;
    color: #2C284E;
}
/* STICKY STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-header.is-sticky {
    position: fixed;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
    padding: 8px 0;
    backdrop-filter: blur(100px);
    animation: slideDown 0.35s ease-out;
    background: rgba(1, 136, 159, 0.46);
    backdrop-filter: blur(25px);
    width: 100%;
    top: 0;
}

.page-header.is-sticky img {
  max-width: 80%;
}

.page-header.is-sticky button {
  font-size: 14px;
  padding: 7px 10px;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}


/*==================================header Start================================*/
.tm-header {
    position: absolute;
    width: 100%;
    z-index: 9999;
}
.tm-header-top {
  background-color: #2C284E;
  padding: 10px 0;
}
.tm-header-menu.page-header {
  background-color: #E9E9E9;
  padding: 15px 0;
}
.tm-header-logo{
    text-align: center;
}
.tm-header-logo img{
    width: 300px;
}
.tm-header-menu-list ul li a {
  color: #000 !important;
  padding: 0 60px 0 0 !important;
}
.tm-header-menu-list ul li a.active{
    color: #DD1C3A!important;
}
/*==================================header End================================*/

.tm-main-all {
  /*height: 100vh;*/
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 250px 0 100px;
}
.tm-select-state {
  width: 100%;
}
.tm-select-state-panel{
    text-align: center;
}
.tm-select-state-panel {
  gap: 30px;
  display: flex;
  flex-direction: column;
}
.tm-select-state-panel .form-select{
  border: 1px solid #999;
}

/*======================jHome-sec=========================*/
.tm-jHome-sec {
  width: 100%;
}
.tm-jHome-sec-panel{
    border-radius: 20px;
}
.tm-jHome-sec-panel-img img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.tm-jHome-sec-panel-text {
  padding: 25px;
  height: 200px;
  display: flex;
  align-items: center;
}
.tm-sec-title{
    margin: 0 0 30px;
}
/*============================study-meterials============================*/
.tm-study-meterials {
  width: 100%;
}
.tm-study-meterials-side-bar {
  background-color: #E9E9E9;
  padding: 30px 15px;
  border-radius: 10px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.25);
  height: 100%;
}
.tm-study-meterials-side-bar .nav-link {
  text-align: left;
  color: #000000;
  text-transform: capitalize;
}
.tm-study-meterials-side-bar .nav-link.active {
  background-color: #2C284E;
  color: #fff;
}
.tm-study-meterials-content-panel-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tm-study-meterials-content-panel-top-title h2{
    padding-bottom: 0;
}
.tm-study-meterials-content-panel-top-search-bar {
  width: 44%;
}
.tm-study-meterials-content-panel-top-search-bar button {
  border-right: 0;
  padding: 15px;
  border-color: #999999;
}
.tm-study-meterials-content-panel-top-search-bar .form-control{
    border-color: #999999;
    border-left: 0;
    padding-left: 0;
}
.tm-study-meterials-content-panel-top-search-bar .form-control::placeholder{
    color: #999999;
}
.tm-study-meterials-content-panel-bottom {
  margin-top: 30px;
}
.tm-study-meterials-content-panel-bottom-panel{
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.tm-study-meterials-content-panel-bottom-icon {
  height: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #EEE;
}
.tm-study-meterials-content-panel-bottom-text {
  padding: 10px 10px 20px;
}
.tm-study-meterials-content-panel-bottom-text span{
    color: #B8B8B8;
    font-size: 16px;
    display: block;
}
/*============================Select Examination============================*/
.tm-select-examination-sec {
  width: 100%;
}
.tm-select-examination-panel-left-no span {
  background-color: #2C284E;
  color: #fff;
  border-radius: 2.5px;
  height: 50px;
  width: 50px;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  font-weight: 700;
}
.tm-select-examination-panel {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px solid #4C4C4C;
}
.tm-select-examination-panel-left {
  display: flex;
  gap: 15px;
}
.tm-select-examination-panel-main {
  margin-top: 25px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 20px;
}
.tm-select-examination-panel-left-content-list {
  margin-top: 20px;
}
.tm-select-examination-panel-left-content-list ul {
  display: flex;
  justify-content: end;
  gap: 30px;
}
.tm-select-examination-panel-left-content-list ul li{
    color: #333333;
}
.tm-select-examination-panel-left-content-list ul li{
    color: #DD1C3A;
}
.tm-select-examination-panel-left-content-list ul li span{
    color: #333333;
}

/*=======================Exam Instructions========================*/
.tm-exam-instructions-sec {
  width: 100%;
}
.tm-exam-instructions-sec-panel{
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 30px 20px;
    margin-top: 30px;
}
.tm-exam-instructions-sec-panel ul {
  padding-left: 20px;
}
.tm-exam-instructions-sec-panel ul li{
    position: relative;
    margin-top: 10px;
}
.tm-exam-instructions-sec-panel ul li::after {
  content: '';
  position: absolute;
  left: -20px;
  top: 13px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #000;
}
.tm-exam-instructions-sec-panel .tm-btn-main {
  margin-top: 100px;
}
/*=======================Exam========================*/
.tm-exam-sec {
  width: 100%;
}
.tm-exam-sec-panel-main{
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 30px 20px;
    margin-top: 30px;
}
.tm-exam-sec-panel{
    padding: 30px 0;
    border-bottom: 1px solid #4C4C4C;
}
.tm-exam-sec-panel-form-check-box .form-check-input {
    --bs-form-check-bg: #E6F3FF;
    background-color: #E6F3FF;
    border-color: #3398FF;
}
.tm-exam-sec-panel-form-check-box i{
    color: #5EAC1A;
}
.tm-exam-done-containt h2{
  margin: 25px 0;
}
.tm-exam-done-containt img {
  width: 135px;
  margin: 0 auto;
}
/*=======================Exam========================*/
.tm-result-sec-top img {
    width: 134px;
}
.tm-result-sec-top h2 {
    color: #5EAC1A;
}
.tm-result-sec-top h3 {
    color: #2C284E;
}
.tm-result-sec-top h3 span{
    color: #5EAC1A;
}
.tn-progress-circle {
  width: 194px;
  height: 194px;
  border-radius: 50%;
  border: 30px solid #5EAC1A;
    border-right-color: rgb(94, 172, 26);
    border-bottom-color: rgb(94, 172, 26);
  border-right-color: #5EAC1A;
  border-bottom-color: #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
    margin-top: auto;
  margin-top: 30px;
}
.tm-progress-circle-text {
  text-align: center;
  padding: 20px;
}
.tm-progress-circle-text h3{
    padding-bottom: 0;
}
.tm-progress-circle-text span{
    color: #282828;
    font-size: 16px;
    line-height: 24px;
}
.tm-progress-circle-result-list {
  margin-top: 40px;
}
.tm-progress-circle-result-list ul li {
  color: #282828;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  line-height: 40px;
}
.tm-progress-circle-result-list ul li span {
  width: 250px;
  padding-left: 25px;
  position: relative;
}
.tm-progress-circle-result-list ul li span::after {
  content: '';
  position: absolute;
  left: 0px;
  top: 50%;
  width: 17px;
  height: 17px;
  background-color: #5EAC1A;
  transform: translateY(-50%);
}
.tm-progress-circle-result-list ul li:last-child span::after {
    background-color: #AC1A1A;
}
.tm-progress-circle-result-btn a {
  display: block;
  text-align: center;
  margin-top: 30px;
}
/*=======================login========================*/
/*.tm-login-sec {
  background-size: 48% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: left center;
  display: flex;
  align-items: center;
}*/
.tm-login-sec{
    position: relative;
}
.tm-login-sec-img{
   position: absolute;
}
.tm-login-sec-form-main {
  position: relative;
  z-index: 1;
  padding-top: 200px;
}
.tm-login-sec-img img {
  width: 64%;
  height: 100vh;
  object-fit: cover;
  object-position: center center;
}
.tm-login-sec-form .form-control {
  border: 1px solid #999;
  padding: 12px 10px;
}
.tm-login-sec-form .tm-btn {
  width: 100%;
  margin-top: 30px;
}
