 <div class="container">
   <div class="row">
     <div class="col-lg-8 offset-lg-2">
       <div class="tm-exam-instructions-sec">
         <div class="tm-exam-instructions-sec-title text-center">
           <h2><span>Exam {{selectIndex | number : "2.0-0"}}:</span> {{course?.name}}.</h2>
         </div>
         <div class="tm-exam-instructions-sec-panel">
           <h3>Instructions:</h3>
           <span [innerHTML]="course?.instruction"></span>
           <div class="text-center">
             <a  class="tm-btn-main" href="javascript:void(0)" (click)="startExam()">Start exam</a>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
