 <div class="tm-jHome-sec">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 offset-lg-3">
              <div class="tm-sec-title text-center">
                <h1>Let’s get you closer to your license success.</h1>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="tm-jHome-sec-panel" style="background-color: #F0C0C7;">
                <div class="tm-jHome-sec-panel-img">
                  <img src="assets/img/jHome-img1.jpg" alt="" class="img-fluid">
                </div>
                <div class="tm-jHome-sec-panel-text">
                  <div class="tm-jHome-sec-panel-text-content">
                    <h2>Study Materials</h2>
                    <p>Access all your driving lessons  organized videos and PDFs to help you learn faster and drive smarter.</p>
                    <a [routerLink]="'/study-material'" class="tm-btn-main">View all study materials</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="tm-jHome-sec-panel" style="background-color: #AAA4DF;">
                <div class="tm-jHome-sec-panel-img">
                  <img src="assets/img/jHome-img2.jpg" alt="" class="img-fluid">
                </div>
                <div class="tm-jHome-sec-panel-text">
                  <div class="tm-jHome-sec-panel-text-content">
                    <h2>Your Exam Journey</h2>
                    <p>Give exam and pass to start your heaving vehicle driving journey </p>
                    <a [routerLink]="'/exam/select'" class="tm-btn-main">give exam</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
