<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="tm-exam-sec">
        <div class="tm-exam-instructions-sec-title text-center">
          <h2><span>Exam 01:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
        </div>
        <div class="tm-exam-sec-panel-main">
          <div class="tm-exam-sec-panel">
            <p>1. Nunc fringilla metus lacinia dignissim faucibus?</p>
            <div class="tm-exam-sec-panel-form-check-box">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Consectetur adipiscing elit.
                </label>
              </div>
            </div>
            <div class="tm-exam-sec-panel-form-check-box">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Morbi et nisl eu dolor posuere ornare
                </label>
              </div>
            </div>
            <div class="tm-exam-sec-panel-form-check-box">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Sed scelerisque velit at velit
                </label>
              </div>
            </div>
            <div class="tm-exam-sec-panel-form-check-box">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Sed suscipit pulvinar sodales.
                </label>
              </div>
            </div>
          </div>
          <div class="tm-exam-sec-panel">
            <p>2. Mauris fermentum eros placerat viverra rhoncus?</p>
            <div class="tm-exam-sec-panel-form-check-box">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Morbi et nisl eu dolor posuere ornare
                </label>
              </div>
            </div>
            <div class="tm-exam-sec-panel-form-check-box">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Consectetur adipiscing elit.
                </label>
              </div>
            </div>
            <div class="tm-exam-sec-panel-form-check-box">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Sed suscipit pulvinar sodales.
                </label>
              </div>
            </div>
            <div class="tm-exam-sec-panel-form-check-box">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Sed scelerisque velit at velit
                </label>
              </div>
            </div>
          </div>
          <div class="tm-exam-sec-panel">
            <p>3. Nam nec urna arcu ?</p>
            <div class="tm-exam-sec-panel-form-check-box">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Morbi et nisl eu dolor posuere ornare
                </label>
              </div>
            </div>
            <div class="tm-exam-sec-panel-form-check-box">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Consectetur adipiscing elit.
                </label>
              </div>
            </div>
            <div class="tm-exam-sec-panel-form-check-box">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Sed suscipit pulvinar sodales.
                </label>
              </div>
            </div>
            <div class="tm-exam-sec-panel-form-check-box">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Sed scelerisque velit at velit
                </label>
              </div>
            </div>
          </div>
          <div class="tm-exam-sec-panel">
            <p>4. Nam nec urna arcu ?</p>
            <div class="tm-exam-sec-panel-form-check-box">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Morbi et nisl eu dolor posuere ornare
                </label>
              </div>
            </div>
            <div class="tm-exam-sec-panel-form-check-box">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Consectetur adipiscing elit.
                </label>
              </div>
            </div>
            <div class="tm-exam-sec-panel-form-check-box">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Sed suscipit pulvinar sodales.
                </label>
              </div>
            </div>
            <div class="tm-exam-sec-panel-form-check-box">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Sed scelerisque velit at velit
                </label>
              </div>
            </div>
          </div>
          <div class="tm-exam-sec-panel">
            <p>5. Nam nec urna arcu ?</p>
            <div class="tm-exam-sec-panel-form-check-box">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Morbi et nisl eu dolor posuere ornare
                </label>
              </div>
            </div>
            <div class="tm-exam-sec-panel-form-check-box">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Consectetur adipiscing elit.
                </label>
              </div>
            </div>
            <div class="tm-exam-sec-panel-form-check-box">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Sed suscipit pulvinar sodales.
                </label>
              </div>
            </div>
            <div class="tm-exam-sec-panel-form-check-box">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Sed scelerisque velit at velit
                </label>
              </div>
            </div>
          </div>
          <div class="text-center mt-5">
            <a [routerLink]="'/exam/result/test'" class="tm-btn-main">Start exam</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
